# Laravel
/bootstrap/compiled.php
/vendor

# other repos here, too:
/workbench

# Configuration
/app/config/local
/app/config/staging
/app/config/production

# Basset development collections
/public/assets/compiled/public
/public/assets/compiled/admin

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/

# Packages
_ide_helpers.php

# Sublime
sftp-config.json

/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db